$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-dark-3xl: #292929;
$color-dark-2xl: #444444;
$color-dark-xl: #4C4C4C;
$color-dark-l: #545454;
$color-dark-m: #B2B2B2;
$color-dark-s: #CDCDCD;
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;



*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}


li {
    list-style-type: none;
}


a {
    text-decoration: none;
    outline: none;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 120rem;
    justify-content: space-between;
    width: 100%;

    @media screen and (max-width: 1279px) {
        width: 70.8rem;
    }

    @media screen and (max-width: 767px) {
        width: 30rem;
        position: relative;
    }
}


//Header
.header {
    max-width: 100vw;
    position: sticky;
    width: 100%;
    background-color: $color-light-xl;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    z-index: 1000;
}


.header__content {
    margin-top: 3.1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}



.logo {
    display: flex;
    flex-direction: column;
}

.logo__title {
    font-family: Georgia;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.19rem;
    color: $color-dark-l;
    margin: 0;
}

.logo__subtitle {
    font-family: Arial;
    margin-top: 0.9rem;
    margin-left: 0.5rem;
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 0.13rem;
    color: $color-dark-3xl;

}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 44.3rem;
    margin-bottom: 0.6rem;

    @media screen and (max-width: 767px) {
        width: 0;
    }

}

.list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -100%;
        width: 32rem;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        transition-duration: 500ms;
        transform: translateX(-100%);
        transition-timing-function: cubic-bezier(.33, .35, .77, 1.25);
        text-align: center;
        background-color: $color-dark-3xl;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        z-index: 17000;
    }
}

.list__item {
    display: flex;
    align-items: center;
}

.list__link {
    font-family: Arial;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 160%;
    color: $color-dark-l;

    @media screen and (max-width: 767px) {
        font-family: Arial;
        font-weight: 400;
        font-size: 3.2rem;
        line-height: 160%;
        color: $color-dark-s;
    }
}

.list__link-active {
    color: $color-dark-3xl;
    border-bottom: solid 3px $color-primary;
    padding-top: 0.4rem;
    @media screen and (max-width: 767px) {
        color: $color-light-s;
    }
}

.list__link:hover {
    color: $color-dark-3xl;
    cursor: pointer;
    @media screen and (max-width: 767px) {
        color: $color-light-s;
    }
}

#menu__toggle {
    display: none;

    @media screen and (max-width: 767px) {
        opacity: 0;
    }
}

.menu__btn {
    display: none;

    @media screen and (max-width: 767px) {
        position: sticky;
        display: flex;
        align-items: center;
        position: absolute;
        top: 5rem;
        right: 4.3rem;
        width: 3rem;
        height: 2.2rem;
        cursor: pointer;
        z-index: 100000;
    }
}

//Burger button
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: none;

    @media screen and (max-width: 767px) {
        display: block;
        position: absolute;
        width: 100%;
        height: 0.2rem;
        background-color: $color-primary;
    }
}


.menu__btn>span::before {
    display: none;

    @media screen and (max-width: 767px) {
        display: block;
        content: '';
        top: -1rem;
    }
}


.menu__btn>span::after {
    display: none;

    @media screen and (max-width: 767px) {
        display: block;
        content: '';
        top: 1rem;
    }
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(90deg);

}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0.8rem;
}

#menu__toggle:checked~.menu__btn>span::after {
    top: -0.8rem;
}

#menu__toggle:checked~.list {
    visibility: visible;
    right: 0;
    transition-duration: 500ms;
    transform: translateX(0%);
    transition-timing-function: cubic-bezier(.42,0,1,1);
}



//Burger button
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    transition-duration: .25s;
}

.menu__box {
    transition-duration: .25s;
}

.menu__item {
    transition-duration: .25s;
}


//Our pets
.pets {
    background-color: $color-light-l;
}

.pets-content {
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 10.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1279px) {
        padding-bottom: 7.6rem;
    }
    @media screen and (max-width: 767px) {
        padding-top: 4.1rem;
        max-width: 30rem;
        padding-bottom: 4.2rem;
    }
    
}



.pets-content__title {
    padding-left: 0.2rem;
    padding-top: 0.1rem;
    font-family: Georgia;
    font-weight: normal;
    font-size: 3.5rem;
    line-height: 4.55rem;
    text-align: center;
    letter-spacing: 0.21rem;
    color: $color-dark-l;
    @media screen and (max-width: 767px) {
        font-size: 2.5rem;
        letter-spacing: 0.15rem;
        line-height: 3.25rem;
    }
}

.pets__slider {
    margin: 5.9rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 3rem;

    @media screen and (max-width: 1279px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        max-height: 136.5rem;
        overflow: hidden;
        margin: 2.9rem 0 4rem;
    }
    @media screen and (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin: 4.2rem 0 4.2rem;
    }
}

.pets__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27rem;
    height: 43.5rem;
    border-radius: 0.9rem;
    background-color: $color-light-s;
}

.pets__card:hover {
    background-color: $color-light-xl;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: pointer;
}

.card__title {
    font-family: Georgia;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.3rem;
    align-items: center;
    text-align: center;
    letter-spacing: 0.12rem;
    padding-left: 0.2rem;
    color: $color-dark-l;
}


.card__image {
    width: 100%;
    max-height: 27rem;
    margin-bottom: 3rem;
}

.pets__card_button {
    width: 18.7rem;
    margin-top: 3rem;
    height: 5.2rem;
    border-radius: 10rem;
    border: 2px solid $color-primary;
    outline: none;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 1.7rem;
    line-height: 2.21rem;
    letter-spacing: 0.102rem;
    background-color: transparent;

    &:hover {
        background-color: $color-primary-light;
        border: 2px solid $color-primary-light;
    }
}

.slider-buttons {
    display: flex;
    column-gap: 2rem;
    @media screen and (max-width: 767px) {
        column-gap: 1rem;
    }
}


.slider-button {
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 100%;
    border: 2px solid $color-primary;
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.12rem;
    word-spacing: -0.5rem;
    outline: none;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
}


.slider-button.active {
    background-color: $color-primary;
    border: 2px solid $color-primary;
}


.slider-button:hover {
    background-color: $color-primary;
    border: 2px solid $color-primary;
    cursor: pointer;
}

.slider-button:disabled {
    background-color: transparent;
    border: 2px solid $color-dark-s;
    cursor: default;
}

//Footer

.footer {
    width: 100%;
    background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 4rem;

    @media screen and (max-width: 1279px) {
        flex-direction: column;
        align-items: center;
        max-width: 70.8rem;
        margin-top: 3rem;
    }

    @media screen and (max-width: 767px) {
        max-width: 30rem;
    }
}

.footer-content__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 74rem;
    width: 100%;
    padding-top: 1.7rem;

    @media screen and (max-width: 1279px) {
        max-width: 64rem;
        padding-top: 0;
    }

    @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        padding-right: 0;
    }
}


.footer-content__contacts {
    width: 27.9rem;
}

.footer-content_locations {
    width: 30.2rem;

    @media screen and (max-width: 767px) {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
    }
}

.icon {
    margin-right: 20px;
}


.footer-content_locations>.contact-link {
    @media screen and (max-width: 767px) {
        margin-top: 4.7rem;
        text-align: left;
    }

}

.contact-link h4 {
    align-self: center;
    color: $color-primary;
    margin: 0;
    font-family: Georgia, serif;
    font-weight: normal;
    line-height: 2.3rem;
    letter-spacing: 0.12rem;
    font-weight: normal;
    font-size: 2rem;
    color: $color-primary;

    @media screen and (max-width: 767px) {}
}

.contact-link h4>a {
    color: $color-primary;
}

.contacts__title {
    font-family: Georgia;
    font-weight: normal;
    font-size: 3.5rem;
    line-height: 4.55rem;
    letter-spacing: 0.21rem;
    color: $color-light-xl;
    text-align: left;
    word-wrap: break-word;
    max-width: 28rem;

    @media screen and (max-width: 767px) {
        font-size: 2.5rem;
        line-height: 130%;
        letter-spacing: 0.15rem;
        text-align: center;

    }
}


.footer-content_locations>h3 {
    @media screen and (max-width: 1279px) {
        padding-left: 0.2rem;
    }

    @media screen and (max-width: 767px) {
        padding-left: 2.3rem;
    }
}

.contact-link {
    display: flex;
    flex-direction: row;
    height: 3.2rem;
    margin-top: 4rem;

    @media screen and (max-width: 767px) {
        justify-content: center;
    }
}


.contact-link.second-column {
    @media screen and (max-width: 767px) {
        justify-content: left;
    }
}

.mail__pin {
    @media screen and (max-width: 1279px) {
        padding-top: 0.3rem;
    }
}

.footer__image {
    @media screen and (max-width: 1279px) {
        margin-top: 6.5rem;
    }

    @media screen and (max-width: 767px) {
        margin-top: 4rem;
        width: 26rem;
    }

}

.footer__image img {
    @media screen and (max-width: 767px) {
        width: 100%;
    }
}




.dark__page {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 9999991;
}

.dark__wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(41, 41, 41, 0.6);
    z-index: 9999992;
}

.popup-box {
    position: relative;
    display: flex;
    margin: 0 auto;
    z-index: 9999993;
}

.popup-card {
    width: 90rem;
    display: flex;
    justify-content: center;
    border-radius: 0.9rem;
    z-index: 9999993;
    background-color: #fafafa;
}


.popup-image {
    height: 50rem;
    width: 50rem;
}


.popup-image img {
    height: 100%;
    border-radius: 0.9rem;
}

.card_place_popup {
    margin: 5rem 2rem auto 2.9rem;
    color: #000;
}

.card__subtitle_place_popup {
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.12rem;
    margin-bottom: 4rem;
}


.card__text_place_popup {
    font-size: 1.5rem;
    line-height: 1.7rem;
    letter-spacing: 0.09rem;
    margin-bottom: 4rem;
}


.card__list_place_popup {
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.09rem;
    list-style: disc outside;
    padding-left: 1.5rem;
}

.card__list_item {
    color: #000;
    margin-bottom: 1rem;
}


.card__list_item::marker {
    color: $color-primary;
}


.button_place_popup {
    position: absolute;
    top: -5.2rem;
    right: -4.2rem;
    width: 5.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999994;
}


.button_place_popup::after {
    content: "×";
    position: relative;
    top: -0.2rem;
    font-size: 2.8rem;
    font-weight: bold;
    z-index: 9999994;
}

.button_place_popup {
    background-color: $color-primary-light;
    border: 2px solid $color-primary-light;
}