$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-dark-3xl: #292929;
$color-dark-2xl: #444444;
$color-dark-xl: #4C4C4C;
$color-dark-l: #545454;
$color-dark-m: #B2B2B2;
$color-dark-s: #CDCDCD;
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;



*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}


li {
    list-style-type: none;
}


a {
    text-decoration: none;
    outline: none;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 120rem;
    justify-content: space-between;
    width: 100%;

    @media screen and (max-width: 1279px) {
        width: 70.8rem;
    }

    @media screen and (max-width: 767px) {
        width: 30rem;
        position: relative;
    }
}


//Header
.header {
    max-width: 100vw;
    width: 100%;
    position: absolute;
    top: 6.1rem;
    display: flex;
    z-index: 2;

    @media screen and (max-width: 1279px) {
        top: 3.1rem;
    }
}

.header__wrapper_buger-active {
    @media screen and (max-width: 767px) {
        position: sticky;
        margin-right: 1rem;
        margin-left: auto;
    }
}

.header__content {
    margin-top: 3.2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}



.logo {
    display: flex;
    flex-direction: column;
    z-index: 100000;
}

.logo__title {
    font-family: Georgia;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.19rem;
    color: $color-primary;
    margin: 0;
    z-index: 100000;
}

.logo__subtitle {
    font-family: Arial;
    margin-top: 0.9rem;
    margin-left: 0.5rem;
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 0.13rem;
    color: $color-light-xl;
    z-index: 100000;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 44.3rem;
    margin-bottom: 0.6rem;
    z-index: 10000;

    @media screen and (max-width: 767px) {
        width: 0;
    }

}

.list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -100%;
        width: 32rem;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        transition-duration: 0.25s;        
        transition-timing-function: cubic-bezier(.33, .35, .77, 1.25);
        text-align: center;
        background-color: $color-dark-3xl;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        z-index: 17000;  
    }
}

.not-active {
    cursor: default;
    pointer-events: none;
}


.list__item {
    display: flex;
    align-items: center;
}

.list__link {
    font-family: Arial;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 160%;
    color: $color-light-l;

    @media screen and (max-width: 767px) {
        font-family: Arial;
        font-weight: 400;
        font-size: 3.2rem;
        line-height: 160%;
        color: $color-dark-s;
    }
}

.list__link-active {
    color: $color-light-s;
    border-bottom: solid 3px $color-primary;
    padding-top: 0.4rem;
    @media screen and (max-width: 767px) {
        color: $color-light-s;
    }
}

.list__link:hover {
    color: $color-light-s;
    cursor: pointer;
    @media screen and (max-width: 767px) {
        color: $color-light-s;
    }
}


//Burger
#menu__toggle {
    display: none;

    @media screen and (max-width: 767px) {
        opacity: 0;
    }
}

.menu__btn {
    display: none;

    @media screen and (max-width: 767px) {
        display: flex;
        align-items: center;
        position: absolute;
        top: 1.9rem;
        right: 4.3rem;
        width: 3rem;
        height: 2.2rem;
        cursor: pointer;
        z-index: 100000;
    }
}

//Burger button
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: none;

    @media screen and (max-width: 767px) {
        display: block;
        position: absolute;
        width: 100%;
        height: 0.2rem;
        background-color: $color-primary;
    }
}


.menu__btn>span::before {
    display: none;

    @media screen and (max-width: 767px) {
        display: block;
        content: '';
        top: -1rem;
    }
}


.menu__btn>span::after {
    display: none;

    @media screen and (max-width: 767px) {
        display: block;
        content: '';
        top: 1rem;
    }
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(90deg);

}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0.8rem;
}

#menu__toggle:checked~.menu__btn>span::after {
    top: -0.8rem;
}

#menu__toggle:checked~.list {
    visibility: visible;
    right: 0;
    transition-duration: 500ms;
    transform: translateX(0%);
    transition-timing-function: cubic-bezier(.42,0,1,1);
}

.burger__blackout_active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(41, 41, 41, 0.6);
}

//Burger button
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    transition-duration: .25s;
}

.menu__box {
    transition-duration: .25s;
}

.menu__item {
    transition-duration: .25s;
}

//Banner
.main {
    display: flex;
    flex-direction: column;
}


.start-screen {
    display: flex;
    padding-top: 18rem;
    background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

    @media screen and (max-width: 1279px) {
        padding-top: 15rem;
    }
}

.start-screen__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 120rem;

    @media screen and (max-width: 1279px) {
        flex-direction: column;
        max-width: 70.8rem;
        margin: 0 auto;
        align-items: center;
    }
}

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 46rem;
    width: 100%;
    padding-bottom: 7.9rem;

    @media screen and (max-width: 1279px) {
        max-width: 46rem;
    }

    @media screen and (max-width: 767px) {
        align-items: center;
    }
}


.content-section__title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 4.4rem;
    line-height: 130%;
    color: $color-light-xl;
    padding-top: 16.4rem;

    @media screen and (max-width: 1279px) {
        padding-top: 0.1rem;
    }

    @media screen and (max-width: 767px) {
        font-size: 2.5rem;
        line-height: 130%;
        padding-top: 0rem;
        letter-spacing: 0.15rem;
        text-align: center;
        padding-left: 0.2rem;
    }
}

.content-section__subtitle {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    margin-top: 4rem;
    font-size: 1.5rem;
    line-height: 160%;
    color: $color-dark-s;

    @media screen and (max-width: 767px) {
        text-align: center;
        margin-top: 4.2rem;

    }
}

.content-section__button {
    width: 20.7rem;
    height: 5.2rem;
    border-radius: 10rem;
    margin-top: 4.3rem;
    padding: 1.5rem 4.5rem;
    background-color: $color-primary;
    border: none;
    font-family: Georgia;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 130%;
    letter-spacing: 0.1003rem;
    color: $color-dark-3xl;

    &:hover {
        background-color: $color-primary-light;
        cursor: pointer;
    }

    @media screen and (max-width: 1279px) {
        margin-left: 12.6rem;
        margin-top: 4.3rem;
    }

    @media screen and (max-width: 767px) {
        margin-left: 0rem;
        margin-top: 4.2rem;
    }
}


.banner-image {
    width: 69.8rem;
        height: 72.8rem;        

    @media screen and (max-width: 1279px) {
        width: 56.9rem;
        height: 59.3rem;
        overflow: hidden;
        margin-left: 13.6rem;
        margin-top: 2.1rem;

    }

    @media screen and (max-width: 767px) {
        width: 26rem;
        margin-left: 4rem;
        margin-top: 2.5rem;
        height: 27.177rem;
        overflow: hidden;
    }
}

.banner-image img {
    @media screen and (max-width: 1279px) {
        width: 100%;
        vertical-align: bottom;
    }

    @media screen and (max-width: 767px) {
        vertical-align: bottom;
        height: 100%;
    }
}

/////////About
.about {
    background-color: $color-light-xl;
}

.about__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 85rem;
    padding-top: 8rem;
    padding-bottom: 9.8rem;
    margin: 0 auto;

    @media screen and (max-width: 1279px) {
        max-width: 43.0rem;
        flex-direction: column-reverse;
        padding-top: 6.6rem
    }

    @media screen and (max-width: 767px) {
        max-width: 27rem;
        flex-direction: column-reverse;
        padding-top: 2.7rem;
        align-items: center;
        padding-bottom: 4rem;
    }
}


.about-text {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    max-width: 43rem;
}

.about-text__title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 130%;
    align-items: center;
    letter-spacing: 0.21rem;
    color: $color-dark-l;

    @media screen and (max-width: 767px) {
        font-size: 2.5rem;
        line-height: 130%;
        letter-spacing: 0.15rem;
        text-align: center;
        padding-left: 0.2rem;
    }
}

.about-text__subtitle_first {
    margin-top: 2.5rem;
    font-family: Arial;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 160%;
    color: $color-dark-xl;

    @media screen and (max-width: 767px) {
        text-align: justify;
    }
}

.about-text__subtitle_second {
    font-family: Arial;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 160%;
    color: $color-dark-xl;
    padding-top: 2.5rem;

    @media screen and (max-width: 767px) {
        text-align: justify;
        padding-top: 2.2rem;
    }
}



.about__image {
    @media screen and (max-width: 1279px) {
        padding-top: 8rem;
        padding-left: 6.5rem;
    }

    @media screen and (max-width: 767px) {
        margin-top: 4.1rem;
        padding-top: 0rem;
        padding-left: 0rem;
        width: 26rem;
        height: 35.36rem;
    }
}

.about__image img {
    @media screen and (max-width: 767px) {
        width: 100%;
        height: 100%;
    }

}

//Pets
.pets {
    background-color: $color-light-l;
}

.pets__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 8.1rem;

    @media screen and (max-width: 767px) {
        padding-top: 4.5rem;
    }


}

.pets__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 120rem;
    width: 100%;
    align-items: center;
    overflow: hidden;

    @media screen and (max-width: 1279px) {
        max-width: 70.8rem;
    }

    @media screen and (max-width: 767px) {
        max-width: 27rem;
    }
}


.pets-slider__button_left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.2rem;
    width: 5.2rem;
    border-radius: 50%;
    border: 2px solid $color-primary;
    outline: none;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2.7rem;
    line-height: 2.21rem;
    letter-spacing: 0.06em;
    background-color: transparent;
    margin-right: 5.3rem;

    &:hover {
        background-color: $color-primary-light;
        border: 2px solid $color-primary-light;
        cursor: pointer;
    }

    @media screen and (max-width: 1279px) {
        margin-right: 1.2rem;
    }

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.pets-slider__button_right {
    transform: rotate(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.2rem;
    width: 5.2rem;
    border-radius: 50%;
    border: 2px solid $color-primary;
    outline: none;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2.7rem;
    line-height: 2.21rem;
    letter-spacing: 0.06em;
    background-color: transparent;
    margin-left: 5.3rem;

    &:hover {
        background-color: $color-primary-light;
        border: 2px solid $color-primary-light;
        cursor: pointer;
    }

    @media screen and (max-width: 1279px) {
        margin-left: 1.2rem;
    }

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.pets-slider__button-m_left {
    @media screen and (max-width: 767px) {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5.2rem;
        width: 5.2rem;
        border-radius: 50%;
        border: 2px solid $color-primary;
        outline: none;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 2.7rem;
        line-height: 2.21rem;
        letter-spacing: 0.06em;
        background-color: transparent;

        &:hover {
            background-color: $color-primary-light;
            border: 2px solid $color-primary-light;
            cursor: pointer;
        }
    }
}

.pets-slider__button-m_right {
    @media screen and (max-width: 767px) {
        transform: rotate(180deg);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5.2rem;
        width: 5.2rem;
        border-radius: 50%;
        border: 2px solid $color-primary;
        outline: none;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 2.7rem;
        line-height: 2.21rem;
        letter-spacing: 0.06em;
        background-color: transparent;

        &:hover {
            background-color: $color-primary-light;
            border: 2px solid $color-primary-light;
            cursor: pointer;
        }
    }
}



.pets__title {
    font-family: Georgia;
    color: $color-dark-l;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 130%;
    letter-spacing: 0.21rem;
    text-align: center;
    padding-bottom: 5.9rem;
    padding-left: 0.2rem;

    @media screen and (max-width: 767px) {
        font-size: 2.5rem;
        line-height: 130%;
        letter-spacing: 0.15rem;
        padding-bottom: 4.2rem;
    }
}


.pets__cards {
    display: flex;
    justify-content: space-between;
    max-width: 99rem;
    width: 100%;

    @media screen and (max-width: 1279px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4rem;
        justify-content: center;
        max-width: 58rem;
    }

    @media screen and (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        max-width: 27rem;
        overflow: hidden;
    }
}

.pets__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27rem;
    height: 43.5rem;
    border-radius: 0.9rem;
    background-color: $color-light-s;

}

.pets__cards>.pets__card:nth-child(3) {
    @media screen and (max-width: 1279px) {
        display: none;
    }
}

.pets__cards>.pets__card:not(:first-child) {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.pets__card:hover {
    background-color: $color-light-xl;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: pointer;
}

.card__title {
    font-family: Georgia;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.3rem;
    align-items: center;
    text-align: center;
    letter-spacing: 0.11rem;
    color: $color-dark-l;
}


.card__image {
    width: 100%;
    max-height: 27rem;
    margin-bottom: 3rem;
}

.pets__card_button {
    width: 18.7rem;
    margin-top: 3rem;
    height: 5.2rem;
    border-radius: 10rem;
    border: 2px solid $color-primary;
    outline: none;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 1.7rem;
    line-height: 2.21rem;
    letter-spacing: 0.102rem;
    background-color: transparent;

    &:hover {
        background-color: $color-primary-light;
        border: 2px solid $color-primary-light;
    }
}


.pets-slider__buttons_mobile {
    display: none;

    @media screen and (max-width: 767px) {
        display: flex;
        justify-content: space-between;
        max-width: 18.4rem;
        margin-top: 2rem;
        width: 100%;
    }

}

.pets__button {       
    margin-top: 6rem;
    margin-bottom: 10rem;
    width: 26.1rem;
    height: 5.2rem;
    border-radius: 10rem;    
    padding: 1.5rem 3.5rem;
    background-color: #F1CDB3;
    border: none;
    font-family: Georgia;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 130%;
    letter-spacing: 0.1003rem;
    color: #292929;
    text-decoration: none;
    text-align: center;
    

    &:hover {
        background-color: $color-primary-light;
        border-color: $color-primary-light;
        cursor: pointer;
    }

    @media screen and (max-width: 1279px) {
        width: 26rem;
    }

    @media screen and (max-width: 767px) {
        margin-top: 4.2rem;
        margin-bottom: 4.2rem;
    }
}

////Help
.help {
    background-color: $color-light-xl;
}


.help-content__title {
    font-family: Georgia;
    color: $color-dark-l;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 130%;
    letter-spacing: 0.21rem;
    text-align: center;
    padding-bottom: 5.9rem;
    padding-left: 0.2rem;

    @media screen and (max-width: 767px) {
        font-size: 2.5rem;
        letter-spacing: 0.15rem;
        padding-bottom: 4.2rem;
    }
}


.help-content {
    width: 100%;
    padding-top: 8.1rem;
    padding-bottom: 10rem;
    align-items: center;

    @media screen and (max-width: 767px) {
        padding-top: 4.2rem;
        padding-bottom: 4.2rem;
    }
}


.help-cards__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 12rem;
    row-gap: 5.5rem;
    max-width: 86%;
    margin: 0 auto;

    @media screen and (max-width: 1279px) {
        display: grid;
        max-width: 63rem;
        grid-template-columns: 17rem 17rem 17rem;
        grid-template-rows: 11.3rem 11.3rem 11.3rem;
        column-gap: 6rem;

        @media screen and (max-width: 767px) {
            display: grid;
            max-width: 29rem;
            grid-template-columns: 13rem 13rem;
            grid-template-rows: 8.7rem 8.7rem 8.7rem 8.7rem;
            column-gap: 3rem;
            row-gap: 3.0rem;
        }
    }
}


.help-cards__card {
    max-height: 11.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    @media screen and (max-width: 767px) {
        max-height: 8.7rem;

    }
}


.help-cards__card img {
    margin-bottom: 3rem;

    @media screen and (max-width: 767px) {
        max-width: 5rem;
        max-height: 5rem;
        margin-bottom: 2rem;
    }

}


.help-cards__card:nth-child(4) img {
    @media screen and (max-width: 767px) {
        margin-bottom: 2.1rem;
    }
}

.help-cards__card:nth-child(6) img {
    @media screen and (max-width: 767px) {
        margin-bottom: 2.2rem;
    }
}

.help-cards__card:nth-child(8) img {
    margin-bottom: 3.3rem;

    @media screen and (max-width: 767px) {
        margin-bottom: 2.2rem;
    }

}


.help-cards__card_title {
    font-family: Georgia;
    font-weight: normal;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: 0.12rem;
    color: $color-dark-l;

    @media screen and (max-width: 767px) {
        font-size: 1.5rem;
        letter-spacing: 0.09rem;
    }

}

//Donation
.donation {
    background-color: $color-light-l;
}

.donation-container {
    align-items: center;
    column-gap: 3rem;
    width: 100%;
    margin-top: 8.2rem;
    margin-bottom: 10.1rem;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 1279px) {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 8.1rem;
        margin-bottom: 9.8rem;
    }

    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 4.2rem;
        margin-bottom: 4rem;
    }
}

.donation__image {
    padding-top: 0.1rem;

    @media screen and (max-width: 1279px) {
        padding-top: 6rem;
    }

    @media screen and (max-width: 767px) {
        max-width: 26rem;
        padding-top: 4.1rem;
    }
}


.donation__image img {
    @media screen and (max-width: 767px) {
        width: 100%;
    }
}

.donation__information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 38rem;
    grid-row-gap: 2rem;

    @media screen and (max-width: 767px) {
        width: 28rem;
        align-items: center;
    }
}


.donation__title {
    font-family: Georgia;
    font-weight: normal;
    font-size: 3.5rem;
    line-height: 130%;
    letter-spacing: 0.21rem;
    color: $color-dark-l;
    text-align: left;

    @media screen and (max-width: 767px) {
        font-size: 2.5rem;
        line-height: 130%;
        letter-spacing: 0.15rem;
        text-align: center;
    }
}

.donation__subtitle {
    font-family: Georgia;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0.09rem;

    @media screen and (max-width: 767px) {
        line-height: 160%;
        letter-spacing: 0.01rem;
    }
}

.credit-card {
    display: flex;
    flex-direction: row;
    width: 34.9rem;
    padding: 1rem 1.2rem 1rem 1.5rem;
    background-color: $color-primary;
    border-radius: 9px;

    &:hover {
        background-color: $color-primary-light;
        border-color: $color-primary-light;
        cursor: pointer;
    }

    @media screen and (max-width: 767px) {
        width: 28.1rem;
    }

}

.credit-card h4 {
    margin: 0;
    font-family: Georgia;
    font-weight: normal;
    line-height: 115%;
    font-size: 2rem;
    letter-spacing: 0.12rem;
    padding-left: 1.5rem;
    cursor: pointer;

    @media screen and (max-width: 767px) {
        font-size: 1.5rem;
        letter-spacing: 0.09rem;
        line-height: 160%;
    }
}


.credit-card a {
    color: $color-dark-l;
}

.donation__card_information {
    font-family: Arial;
    font-style: italic;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: $color-dark-m;

    @media screen and (max-width: 767px) {
        text-align: justify;
    }
}



//Footer

.footer {
    width: 100%;
    background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 4rem;

    @media screen and (max-width: 1279px) {
        flex-direction: column;
        align-items: center;
        max-width: 70.8rem;
        margin-top: 3rem;
    }

    @media screen and (max-width: 767px) {
        max-width: 30rem;
    }
}

.footer-content__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 74rem;
    width: 100%;
    padding-top: 1.7rem;

    @media screen and (max-width: 1279px) {
        max-width: 64rem;
        padding-top: 0;        
    }

    @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        padding-right: 0;
    }
}


.footer-content__contacts {
    width: 27.9rem;    
}

.footer-content_locations {
    max-width: 30.2rem;
    width:100%;
    @media screen and (max-width: 1279px) {
        max-width: 30.2rem;
        width:100%;        
        
    }
    @media screen and (max-width: 767px) {
        margin-top: 4rem;        
        display: flex;
        flex-direction: column;
    }
}

.icon {
    margin-right: 20px;
}

.mail__pin {
    padding-top: 0.2rem;
}

.footer-content_locations > .contact-link {
    @media screen and (max-width: 767px) {
        margin-top: 4.7rem;
        text-align: left;
    }

}

.contact-link h4 {
    align-self: center;
    color: $color-primary;
    margin: 0;
    font-family: Georgia, serif;
    font-weight: normal;
    line-height: 2.3rem;
    letter-spacing: 0.12rem;
    font-weight: normal;
    font-size: 2rem;
    color: $color-primary;

    @media screen and (max-width: 767px) {}
}

.contact-link h4>a {
    color: $color-primary;
}

.footer-content__contacts>.contact-link:nth-child(3) {
    margin-top: 3.9rem;
}


.contacts__title {
    font-family: Georgia;
    font-weight: normal;
    font-size: 3.5rem;
    line-height: 4.55rem;
    letter-spacing: 0.21rem;
    color: $color-light-xl;
    text-align: left;
    word-wrap: break-word;
    max-width: 28rem;

    @media screen and (max-width: 767px) {
        font-size: 2.5rem;
        line-height: 130%;
        letter-spacing: 0.15rem;
        text-align: center;
        
    }
}


.footer-content_locations > h3 {
    padding-left: 0.1rem;
    @media screen and (max-width: 1279px) {
        padding-left: 0.2rem;
    }
    @media screen and (max-width: 767px) {
        padding-left: 2.3rem;
    }
}

.contact-link {
    display: flex;
    flex-direction: row;
    height: 3.2rem;
    margin-top: 4rem;
    @media screen and (max-width: 767px) {
        justify-content: center;
    }
}


.contact-link.second-column {
    @media screen and (max-width: 767px) {
        justify-content: left;
    }
}

.mail__pin {
    @media screen and (max-width: 1279px) {
        padding-top: 0.3rem;
    }
}

.footer__image {
    @media screen and (max-width: 1279px) {
        margin-top: 6.5rem;
    }
    @media screen and (max-width: 767px) {
        margin-top: 4rem;
        width: 26rem;
    }

}

.footer__image img{
    @media screen and (max-width: 767px) {
        width: 100%;
    }
}


.dark__page {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 9999991;
}

.dark__wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(41, 41, 41, 0.6);
    z-index: 9999992;
}

.popup-box {
    position: relative;
    display: flex;
    margin: 0 auto;
    z-index: 9999993;
}

.popup-card {
    width: 90rem;
    display: flex;
    justify-content: center;
    border-radius: 0.9rem;
    z-index: 9999993;
    background-color: #fafafa;

    @media screen and (max-width: 1279px) {
        width: 63rem;
    }

    @media screen and (max-width: 767px) {
        width: 24rem;
    }
}


.popup-image {
    height: 50rem;
    width: 50rem;

    @media screen and (max-width: 1279px) {
        height: 35rem;
        width: 35rem;
    }

    @media screen and (max-width: 767px) {
        display: none;
    }
}


.popup-image img {
    height: 100%;
    border-radius: 0.9rem;
}

.card_place_popup {
    margin: 5rem 2rem auto 2.9rem;
    color: #000;

    @media screen and (max-width: 1279px) {
        margin: 1rem 0.9rem auto 1rem;
    }

    @media screen and (max-width: 767px) {
        margin: 1rem;
        margin-bottom: auto;
    }
}

.card__title_place_popup {
    position: relative;
    top: 0.1rem;
    font-size: 3.5rem;
    line-height: 4.55rem;
    letter-spacing: 0.21rem;
    margin-bottom: 1rem;

    @media screen and (max-width: 1279px) {
        top: 0;
    }

    @media screen and (max-width: 767px) {
        left: 0.2rem;
        text-align: center;
    }
}


.card__subtitle_place_popup {
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.12rem;
    margin-bottom: 4rem;

    @media screen and (max-width: 1279px) {
        margin-bottom: 2rem;
    }

    @media screen and (max-width: 767px) {
        margin-bottom: 2rem;
        text-align: center;
    }
}


.card__text_place_popup {
    font-size: 1.5rem;
    line-height: 1.7rem;
    letter-spacing: 0.09rem;
    margin-bottom: 4rem;

    @media screen and (max-width: 1279px) {
        font-size: 1.3rem;
        line-height: 1.4rem;
        letter-spacing: 0.06em;
        margin-bottom: 1.9rem;
    }

    @media screen and (max-width: 767px) {
        text-align: justify;
        margin-bottom: 2.5rem;
    }
}


.card__list_place_popup {
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.09rem;
    list-style: disc outside;
    padding-left: 1.5rem;

    @media screen and (max-width: 1279px) {
        line-height: 1.7rem;
    }
}

.card__list_item {
    color: #000;
    margin-bottom: 1rem;

    @media screen and (max-width: 1279px) {
        margin-bottom: 0.6rem;

        &:last-child {
            margin-bottom: 1rem;
        }
    }
}


.card__list_item::marker {
    color: $color-primary;
}


.button_place_popup {
    position: absolute;
    top: -5.2rem;
    right: -4.2rem;
    width: 5.2rem;
    height: 5.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 9999994;
    background-color: $color-primary-light;
    border: 2px solid $color-primary-light;

    &:hover {
        cursor: pointer;
        background-color: $color-primary;

    }

    @media screen and (max-width: 767px) {
        right: -3rem;
    }
}


.button_place_popup_active {
    background-color: $color-primary;
}

.button_place_popup::after {
    content: "×";
    position: relative;
    top: -0.2rem;
    font-size: 2.8rem;
    font-weight: bold;
    z-index: 9999994;
}