* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-size: cover;
    color: #000000;
    background-color: aqua;
  }

  .root {
    font-size: 10px
  }

  .greating__name {
    display: flex;
    max-width: 500rem;
    width: 100%;
    justify-content: flex-start;
    flex-direction: row;
  }
  


  .time {
    font-size: 8rem;
  }
  
  h1 {
    margin-bottom: 3rem;
  }
  
  h2 {
    margin-bottom: 0.5rem;
    opacity: 0.8;
  }  
 