* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: "Quicksand", sans-serif;
  height: calc(var(--vh, 1vh) * 100);
  min-height: 55rem;
  position: relative;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-image 1s ease-in-out;
  text-align: center;
  overflow:hidden; 
  
}



.root {
  font-size: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 102rem;
  justify-content: space-between;
  width:100%;
  overflow:hidden; 
  height: calc(var(--vh, 1vh) * 100);
}

.main-content {
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.greeting__content {
  max-width: 90%;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items:center;
  margin: 0 auto;
}

.greeting__name,
.focus__content {
  display: flex;
  justify-content: center;
  margin: 0 auto; 
}

.focus__content {
  margin-top: 2rem;
  flex-direction: column;
}



h1 {
  margin-bottom: 3rem;
  text-shadow: 0px 0px 19px rgba(150, 150, 150, 1);
  display: none;
}

h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  text-shadow: 0px 0px 19px rgba(150, 150, 150, 1);
  opacity: 1;
}

h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-shadow: 0px 0px 19px rgba(150, 150, 150, 1);
  opacity: 1;
}


.quote__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 10rem;
}

.quote {
  font: 1.4rem "Quicksand", sans-serif;
  margin: 0 3em;
  background-color: rgba(77, 76, 76, 0.3);
  padding: 1rem;
  border-radius: 1rem;
}

.quote__btn {
  border: 0;
  width: 3rem;
  margin: 1rem;
  height: 3rem;
  padding: 0;
  opacity: 0.9;
  outline: none;
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  
}


.bg__change_next {
  border: 0;
  width: 2rem;
  margin: 1rem;
  height: 2rem;
  padding: 0;
  opacity: 0.9;
  outline: none;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  max-width: 12rem;
}

.bg__change_next img {
  width: 100%;
  height: 100%;
}


.quote__btn img {
  width: 100%;
  height: 100%;
}

.quote__btn:hover {
  opacity: .7;
}


.spin {
  transition: all .4s, transform 2s;
  transform: rotate(360deg);
}


/* Clock */
.clock-display {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  margin-top: 2rem;
  text-align: left;

}

.clock-display-time {
  font-size: 7rem;
  text-shadow: 0px 0px 19px rgba(150, 150, 150, 1);
}

.clock-display-days {
  padding-left: 0.5rem;  
  font-size: 2rem;
  font-weight: 900;
  text-shadow: 0px 0px 19px rgba(150, 150, 150, 1);
}

/* weather */
.weather-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 2rem;
  right: 2rem;
  max-width: 15rem;
  width: 100%;
}

.weather-additional {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: rgba(77, 76, 76, 0.1);
  border-radius: 1rem;
  padding: 1rem;
}

.city {
  font-size: 2.5rem;
  text-shadow: 0px 0px 19px rgba(77, 76, 76, 1);
}

.weather_main-icon {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.temperature {
  font-size: 6rem;
  text-shadow: 0px 0px 25px rgba(77, 76, 76, 1);
}

.weather-description {
  font-size: 1.5rem;
  color: #fff;
}

.weather-icon {
  font-size: 5rem;
  color: #fff;
  opacity: 0.9;
  text-shadow: 0px 0px 25px rgba(77, 76, 76, 1);
}

.weather-icon:hover {
  animation: shake 1.5s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
}

@media (max-width: 1020px) {


  .wrapper {
    max-width: 96rem;
  }

  .header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 960rem;
    width: 100%;
    align-items: center;
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .weather-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 0;
    left: 0;
    max-width: 15rem;
    width: 100%;
  }

  .clock-display {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
    position: relative;
    max-width: 25rem;
    width: 100%;
    left: 2rem
  }

  .clock-display-time {
    font-size: 4rem;
    text-shadow: 0px 0px 19px rgba(150, 150, 150, 1);
  }

  .clock-display-days {    
    font-size: 1.5rem;
    font-weight: 900;
    text-shadow: 0px 0px 19px rgba(150, 150, 150, 1);
  }

  .weather-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    margin: 0.5rem;
  }

  .city {
    font-size: 2rem;
    text-shadow: 0px 0px 19px rgba(77, 76, 76, 1);
  }

  .temperature {
    font-size: 3rem;
    text-shadow: 0px 0px 25px rgba(77, 76, 76, 1);
  }


  .weather-icon {
    font-size: 3rem;
    color: #fff;
    opacity: 0.9;
    text-shadow: 0px 0px 25px rgba(77, 76, 76, 1);
  }

  .weather-description {
    font-size: 1.5rem;
    color: #fff;
  }

  .weather-additional {
    display: flex;
    font-size: 1.4rem;
    flex-direction: column;
    text-align: left;
    background-color: rgba(77, 76, 76, 0.1);
    border-radius: 0.5rem;
    padding: 0.2rem;
  }
}


@media (max-width: 630px) {
  .wrapper {
    max-width: 31rem;
  }

  .header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 31rem;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    margin-top: 1rem;
  }


  .clock-display {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
    position: relative;
    max-width: 15rem;
    width: 100%;
  }


  .clock-display-time {
    font-size: 2rem;
    text-shadow: 0px 0px 19px rgba(150, 150, 150, 1);
  }

  .clock-display-days {    
    font-size: 1.4rem;
    font-weight: 900;
    text-shadow: 0px 0px 19px rgba(150, 150, 150, 1);
  }

  .weather-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 8rem;
    width: 100%;
    margin: 0.5rem;
  }

  .city {
    font-size: 1.4rem;
    text-shadow: 0px 0px 19px rgba(77, 76, 76, 1);
  }

  .temperature {
    font-size: 2rem;
    text-shadow: 0px 0px 25px rgba(77, 76, 76, 1);
  }


  .weather-icon {
    font-size: 3rem;
    color: #fff;
    opacity: 0.9;
    text-shadow: 0px 0px 25px rgba(77, 76, 76, 1);
  }

  .weather-description {
    font-size: 0.8rem;
    color: #fff;
  }

  .weather-additional {
    display: flex;
    font-size: 0.6rem;
    flex-direction: column;
    text-align: left;
    background-color: rgba(77, 76, 76, 0.1);
    border-radius: 0.5rem;
    padding: 0.2rem;
  }

  .quote__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 10rem;
  }

  .quote {
    font: 0.8rem "Quicksand", sans-serif;
    margin: 0 3em;
    background-color: rgba(77, 76, 76, 0.3);
    padding: 1rem;
    border-radius: 1rem;
  }

  .bg__change_next {
    position: fixed;    
    right: 1rem;
    bottom: 2rem;
  }

  .main-content {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }


  h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-shadow: 0px 0px 19px rgba(150, 150, 150, 1);
    opacity: 1;
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-shadow: 0px 0px 19px rgba(150, 150, 150, 1);
    opacity: 1;
  }

  .greeting__name,
  .focus__content {
    display: flex;
    max-width: 30rem;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }
}

.name:hover, .focus:hover, .city:hover, .bg__change_next:hover, .quote__btn:hover{
  cursor: pointer;
  opacity: 0.5;

}